*{
    box-sizing: border-box;
}

:root {
    --main-color: rgb(1, 36, 186);
    --accent-color: rgb(9, 216, 98);
    --text-color: rgb(53, 53, 53);
    --main--width: 1100px;
    --font: 'Montserrat', sans-serif;
}

body{
    background: url("../images/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: var(--main--width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 20px 0;

}

.loans__logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 700;
    text-decoration: none;
    font-family: var(--font);

}

.loans__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font);
    font-weight: 400;
}

.loans__menu a{
    text-decoration: none;
    color: var(--text-color);

}

.loans__menu:nth-child(2) a{
    margin: 0 40px 0 40px;
}

.main{
    width: var(--main--width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}
 .person{
     font-size: 1.5rem;
     font-weight: 700;
     font-family: var(--font);
     color: var(--accent-color);
 }


.into__info{
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font);
}

.main__title{
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--font);
    color: var(--main-color);
    width: 500px;
}

.icons__line{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.icone__item{
    width: 159px;
}

.icone__item:nth-child(2){
    margin: 0 20px 0 20px;
}

.items__title{
    margin-top: 10px;
}

.icone__awesome::before{
    content: "\f0c2";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-weight: 700;
    font-size: 2rem;
    color: var(--accent-color);
}

.icone__awesome1::before{
    content: "\f3d1";
}

.icone__awesome2::before{
    content: "\f2f2";
}

.intro__form{
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .13);
}

.form__title{
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font);
    margin-bottom: 40px;
}

.intro__form{
    display: flex;
    flex-direction: column;
}

.input__text{
    font-family: var(--font);
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin: 10px 0 12px 0;
}

input[type="text"], input[type="email"]{
    border: 0;
    border-bottom: 1px solid #cccccc;
    padding: 12px 0 8px 0;
}

input::placeholder{
    color: #cccccc;
}

.button__input{
    width: 155px;
    padding: 20px 30px;
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 40px;
    border-radius: 8px;
    font-family: var(--font);
}